<nav>
  <div class="nav-wrapper">
    <a class="brand-logo center hide-on-small-only"><%= @titlebar %></a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/logout">Log Out</a></li>
      <li><a href="/dashboard"><%=	 session[:first_name] %>'s Dashboard </a></li>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#">Option 1</a></li>
      <li><a href="#">Option 2</a></li>
      <li><a href="#">Option 3</a></li>
    </ul>
  </div>
</nav>
<div class="container">

</div>